# Data Processing
openai
pandas
pymupdf

# GUI
pyside6

# Models
pydantic>=2.0.0

# Configuration
python-dotenv
pydantic-settings>=2.0.0

# Packaging & Distribution
pyinstaller   # For building executables

# Utilities
darkdetect
pillow
